---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import { Image } from 'astro:assets';
import leftArrow from '../assets/arrow-left.svg';
import EditionCrafter from "@cu-mkp/editioncrafter";

export interface Props {
    title: string,
    documentName: string,
    transcriptionTypes: any,
    iiifManifest: string,
    documentInfo?: any,
    threePanel?: boolean
}

const { title, documentName, transcriptionTypes, iiifManifest, documentInfo, threePanel } = Astro.props;

---

<Layout title={title}>
    <div class="bg-neutral w-full">
        <Container className="flex flex-row gap-16 items-center">
            <a href="/editioncrafter">
                <div class="border-neutral-dark border-2 rounded-full p-4 hover:scale-105">
                    <Image src={leftArrow} alt="Go Back" />
                </div>
            </a>
            <h1 class="font-serif text-5xl py-16">
                { title }
            </h1>
        </Container>
    </div>  
    <div class="w-full h-[80dvh] bg-white">
        <EditionCrafter
            documentName={documentName}
            documentInfo={documentInfo}
            transcriptionTypes={transcriptionTypes}
            iiifManifest={iiifManifest}
            threePanel={threePanel}
            client:only
            transition:persist
        />
    </div>
</Layout>
